body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para la sección Hero */
.hero {
    padding: 150px 0;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW5mb3JtYXRpY3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeInUp 1s forwards;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    animation: fadeInUp 1s 0.5s forwards;
}

.cta-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

/* Estilo para la sección Sobre Nosotros */
.about {
    padding: 100px 0;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    animation: fadeInUp 1s forwards;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    animation: fadeInUp 1s 0.5s forwards;
}

/* Animaciones */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.back-to-home {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

.back-to-home:hover {
    background-color: #000000;
}